.popup__window{
    max-width: 430px;
    height: 330px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
@media screen and (max-width: 320px) {
    .popup__window{
        width: 320px;
    }
}