.popup__window {
    max-width: 430px;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

@media screen and (max-width: 320px) {
    .popup__window {
        width: 240px;
        height: 258px;
        max-height: 280px;
    }
}